{% extends 'admin/admin_base.html' %} {% load static %} {% block title %}Manage
Doctors - Admin Panel{% endblock %} {% block content %}

<!-- TOP NAVBAR -->
<nav class="navbar navbar-light bg-white shadow-sm py-3 mb-3">
  <div class="container-fluid">
    <a class="navbar-brand text-primary fw-bold fs-4">
      <i class="fa fa-user-doctor me-2"></i>Manage Doctors
    </a>

    <div class="ms-auto">
      <a
        href="{% url 'admin_dashboard' %}"
        class="btn btn-outline-primary btn-sm rounded-pill me-2">
        <i class="fa fa-arrow-left"></i> Back
      </a>

      <a href="{% url 'login' %}" class="btn btn-danger btn-sm rounded-pill">
        <i class="fa fa-power-off"></i> Logout
      </a>
    </div>
  </div>
</nav>

<!-- HEADER -->
<div class="d-flex justify-content-between align-items-center mb-3">
  <h4 class="fw-bold">Doctors List</h4>

  <a
    href="{% url 'admin_doctors_form' %}"
    class="btn btn-primary rounded-pill px-4">
    <i class="fa fa-plus me-2"></i>Add New Doctor
  </a>
</div>

<!-- DOCTOR TABLE -->
<div class="card shadow-sm border-0">
  <div class="card-body">
    <table class="table align-middle">
      <thead class="bg-light">
        <tr>
          <th>Name</th>
          <th>Department</th>
          <th>Experience</th>
          <th>Phone</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        {% for doc in doctors %}
        <tr>
          <td><strong>Dr. {{ doc.user.get_full_name }}</strong></td>
          <td>{{ doc.department }}</td>
          <td>{{ doc.experience }} Years</td>
          <td>{{ doc.phone }}</td>

          <td>
            <a
              href="{% url 'admin_doctors_edit' doc.id %}"
              class="btn btn-outline-primary btn-sm">
              <i class="fa fa-edit"></i>
            </a>

            <a
              href="{% url 'admin_doctors_delete' doc.id %}"
              onclick="return confirm('Are you sure you want to delete this doctor?');"
              class="btn btn-sm btn-outline-danger rounded-pill">
              <i class="fa fa-trash"></i>
            </a>
          </td>
        </tr>

        {% empty %}
        <tr>
          <td colspan="5" class="text-center text-muted">No doctors found.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
